/* INDEX Page debut*/

@media (max-width:324px) {
    .connection-left{
        width:100%;
        border: none;
        box-shadow: none;
    }
    .container-connection{
        padding: 10px 0;
        background-color: var(--whitesmoke);
    }
    .connection-options a{
        font-size: 12px;
    }
}
@media (min-width:325px) {
    .connection-left{
        width:100%;
        border: none;
        box-shadow: none;
    }
    .container-connection{
        padding: 10px 0;
        background-color: var(--whitesmoke);
    }
}
@media (min-width:431px) {
    .connection-left{
        width:100%;
    }
    .container-connection{
        padding: 10px 50px;
        background-color: rgb(117, 174, 169) ;
    }
}
@media (min-width:561px) {
    .connection-left{
        width:90%;
    }
    .container-connection{
        padding: 10px 80px;
        background-color: rgb(117, 174, 169) ;
    }
}
@media (min-width:900px) {
    .connection-left{
        width:35%;
    }
    .container-connection{
        padding: 10px 100px;
        background-color: rgb(117, 174, 169) ;
    }
} 
/* INDEX Page fin */

/* Dashboard page debut */
@media (max-width:454px){
    .tft-search-withIcon{
        display: none !important;
    }
    .recent-intro{
        display: none !important;
    }
    #icon-sidebar{
        display: flex !important;
    }
    .containerLeft{
        position: absolute;
        z-index: 1000;
        animation: floatSidebar 0.5s ease 0s 1 alternate forwards;
    }
    @keyframes floatSidebar{
        0%{
            transform: translateX(-10rem) ;
        }
        100%{
            transform:translateX(0rem);
        }
    }
    .overview-cards{
        justify-content: center;
    }
}
@media (min-width:454px) and (max-width:470px){
    .tft-search-withIcon{
        display: none !important;
    }
    .recent-intro{
        display: none !important;
    }
    #icon-sidebar{
        display: flex !important;
    }
    .containerLeft{
        position: absolute;
        z-index: 1000;
        animation: floatSidebar 0.5s ease 0s 1 alternate forwards;
    }
    @keyframes floatSidebar{
        0%{
            transform: translateX(-10rem) ;
        }
        100%{
            transform:translateX(0rem);
        }
    }
    .overview-card{
        width:9.5rem;
    }
    .card-info .tft-title1{
        font-size: 0.9rem;
    }
}
@media (min-width:470px) and (max-width:509px){
    .tft-search-withIcon{
        display: none !important;
    }
    .recent-intro{
        display: none !important;
    }
    #icon-sidebar{
        display: flex !important;
    }
    .containerLeft{
        position: absolute;
        z-index: 1000;
        animation: floatSidebar 0.5s ease 0s 1 alternate forwards;
    }
    @keyframes floatSidebar{
        0%{
            transform: translateX(-10rem) ;
        }
        100%{
            transform:translateX(0rem);
        }
    }
    .overview-card{
        width:10rem;
    }
    .card-info .tft-title1{
        font-size: 1rem;
    }
}
@media (min-width:510px) and (max-width:600px){
    .tft-search-withIcon{
        display: none !important;
    }
    .recent-intro{
        display: none !important;
    }
    #icon-sidebar{
        display: flex !important;
    }
    .containerLeft{
        position: absolute;
        z-index: 1000;
        animation: floatSidebar 0.5s ease 0s 1 alternate forwards;
    }
    @keyframes floatSidebar{
        0%{
            transform: translateX(-10rem) ;
        }
        100%{
            transform:translateX(0rem);
        }
    }
    .overview-cards{
        justify-content: center;
    }
}
@media (min-width:601px) and (max-width:674px){
    .tft-search-withIcon{
        display: none !important;
    }
    .recent-intro{
        display: none !important;
    }
    #icon-sidebar{
        display: flex !important;
    }
    .containerLeft{
        position: absolute;
        z-index: 1000;
        animation: floatSidebar 0.5s ease 0s 1 alternate forwards;
    }
    @keyframes floatSidebar{
        0%{
            transform: translateX(-10rem) ;
        }
        100%{
            transform:translateX(0rem);
        }
    }
    .overview-cards{
        justify-content: center;
    }
}
@media (min-width:675px) and (max-width:698px){
    .tft-search-withIcon{
        display: none !important;
    }
    .recent-intro{
        display: none !important;
    }
    #icon-sidebar{
        display: flex !important;
    }
    .containerLeft{
        position: absolute;
        z-index: 1000;
        animation: floatSidebar 0.5s ease 0s 1 alternate forwards;
    }
    @keyframes floatSidebar{
        0%{
            transform: translateX(-10rem) ;
        }
        100%{
            transform:translateX(0rem);
        }
    }
    .overview-card{
        width:10rem;
    }
    .card-info .tft-title1{
        font-size: 1rem;
    }
}
@media (min-width:699px) and (max-width:799px) {
    .tft-search-withIcon{
        display: none !important;
    }
    .recent-pic{
        display: none !important;
    }
    .recent-pic-fleche{
        display: none !important;
    }
    .recent-intro .tft-title1{
        flex:1;
        text-align: center;
        margin-top: 30px;
        font-size: 15px;
    }
    #icon-sidebar{
        display: flex !important;
    }
    .containerLeft{
        position: absolute;
        z-index: 1000;
        animation: floatSidebar 0.5s ease 0s 1 alternate forwards;
    }
    @keyframes floatSidebar{
        0%{
            transform: translateX(-10rem) ;
        }
        100%{
            transform:translateX(0rem);
        }
    }
    .overview-card{
        width:10.5rem;
    }
    .card-info .tft-title1{
        font-size: 1rem;
    }
}
@media (min-width:800px) and (max-width:899px) {
    .tft-users{
        display: none;
    }
    .containerLeft{
        position: absolute;
        z-index: 1000;
        box-shadow: var(--boxshadowPopup);
        animation: floatSidebar 0.5s ease 0s 1 alternate forwards;
    }
    @keyframes floatSidebar{
        0%{
            transform: translateX(-10rem) ;
        }
        100%{
            transform:translateX(0rem);
        }
    }
    #icon-sidebar{
        display: flex !important;
    }
}
@media (min-width:900px) and (max-width:998px){
    .tft-users{
        display: none;
    }
    .containerLeft{
        width:18rem;
        height:100%;
        background-color: var(--black-utile-2);
        border-right: 0.125rem solid var(--bg-icons);
        display: flex;
        padding: 0.625rem 1.25rem;
        flex-direction: column;
        gap:0.625rem;
        overflow-y: auto;
    }
    #icon-sidebar{
        display: none !important;
    }
    .c-center-header h2 div{
        display: none !important;
    }
    .recent-intro{
        display: none !important;
    }
}
@media (min-width:999px) and (max-width:1025px){
    .tft-users{
        display: none;
    }
    .containerLeft{
        width:18rem;
        height:100%;
        background-color: var(--black-utile-2);
        border-right: 0.125rem solid var(--bg-icons);
        display: flex;
        padding: 0.625rem 1.25rem;
        flex-direction: column;
        gap:0.625rem;
        overflow-y: auto;
    }
    #icon-sidebar{
        display: none !important;
    } 
    .c-center-header h2 div{
        display: none !important;
    }
    .recent-pic{
        display: none !important;
    }
    .recent-pic-fleche{
        display: none !important;
    }
    .recent-intro .tft-title1{
        flex:1;
        text-align: center;
        margin-top: 30px;
    }
}
@media  (min-width:1025px) {
    
    .tft-users{
        display: flex !important;
    }
    .action-info h3{
        font-size: 0.9375rem !important;
    }
    .action-info p{
        font-size: 0.8125rem !important;
    }
    .actions-details p{
        font-size:0.75rem !important;
    }   
    .c-center-header h2{
        font-size: 1.25rem !important;
    }
    .c-center-header h2 div{
        display: none !important;
    }
    .containerLeft{
        width:18rem;
        height:100%;
        background-color: var(--black-utile-2);
        border-right: 0.125rem solid var(--bg-icons);
        display: flex;
        padding: 0.625rem 1.25rem;
        flex-direction: column;
        gap:0.625rem;
        overflow-y: auto;
    }
    #icon-sidebar{
        display: none !important;
    }
    .containerRight{
        width:20rem;
        height: 100%;
        padding: 0.625rem;
        border-left: 0.125rem solid var(--bg-icons);
        background-color: var(--black-utile-3-2nd);
        animation: floatContainerDroite alternate 0.5s ease;
        display: none;
        flex-direction: column;
    }
    @keyframes floatContainerDroite{
        0%{
            transform: translateX(62.5rem) ;
        }
        100%{
            transform:translateX(0rem);
        }
    }
    .recent-intro .recent-pic{
        width: 15.625rem;
        height: 12.5rem;
        overflow: hidden;
        position: absolute;
        right: 0rem;
        top:0rem;
        display: flex;
    }
    .recent-pic img{
        width:100%;
        height:100%;
        object-fit: cover;
    }
    .recent-pic-fleche{
        width: 6.25rem;
        height: 6.25rem;
        overflow: hidden;
        position: absolute;
        top:6.25rem;
        left: 9.375rem;
        transform: rotate(80deg);
    }
    .recent-pic-fleche img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
/* Dashboard page fin */

/* departement page debut*/
@media  (max-width:786px){
    .container_departements{
        justify-content: center;
        align-items: start;
    }
}
@media  (min-width:787px) and (max-width:818px){
    .departement{
        width:21rem;
    }
    .simple-workers:first-child{
        position: absolute;
        left: 0.2rem;
    }
    .simple-workers:last-child{
        position: absolute;
        right: 0.15rem;
    }
}
@media  (min-width:819px) and (max-width:874px) {
    .departement{
        width:22rem;
    }
    .simple-workers:first-child{
        position: absolute;
        left: 0.66rem;
    }
    .simple-workers:last-child{
        position: absolute;
        right: 0.66rem;
    }
}
/* departement page fin*/

